{% extends 'layouts/base-fullscreen.html' %}

{% block title %}{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation-fullscreen.html" %}

      </div>
    </div>
  </div>

  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-75">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <center><h3 class="font-weight-bolder text-info text-gradient">Welcome</h3>
                  <p class="mb-0">Analyse Youtube Channel easily</p></center>
                </div>
                <div class="card-body">
                  <form action="/channel" method="POST">
                    <div class="mb-3">
                      <input type="url" name="channel_url" class="form-control" placeholder="Paste YouTube Channel URL Here" aria-label="URL">
                    </div>
                    <div class="text-center">
                      <button type="submit" value="Online" class="btn bg-gradient-info w-100 mt-4 mb-0">Search</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include "includes/footer-fullscreen.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
